<div>
{{#if userError}}
<h3>There is no {{event}} with the id of {{id}}</h3>
{{/if}}
{{#if scheduleError}}
<h3>No {{event}} for user with the the id of: {{id}}</h3>
{{else}}
<h3>Page not found</h3>
{{/if}}
</div>