
<div class='container'>
<h4 class="mb-4 mt-4">{{title}}</h4>
<a href="/schedules/new" class="btn  btn-outline-secondary mt-4"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
    </svg>Add new schedule</a>
<ul class="list-group list-group-horizontal mt-4">
  <li class="list-group-item d-flex list-group-item-secondary w-100 ">Number</li>
  <li class="list-group-item d-flex list-group-item-secondary w-100 ">Participant</li>
  <li class="list-group-item d-flex list-group-item-secondary w-100 ">Day</li>
  <li class="list-group-item d-flex list-group-item-secondary w-100 ">Time</li>
  <li class="list-group-item d-flex list-group-item-secondary w-100 ">Action</li>
</ul>
  {{#each schedules}}
    <ul class='list-group list-group-horizontal'>
        <li class="list-group-item w-100"> {{ counter @index}}. </li>
        <li class="list-group-item w-100">{{this.firstname}}</li>
        <li class="list-group-item w-100">{{this.day}}</li>
        <li class="list-group-item w-100">{{this.start_at}} : {{this.end_at}}</li>
        <a href='/users/:userId' class="list-group-item w-100">Show details</a>
    </ul>
 {{/each}}
 <a href="/" class="btn  btn-outline-secondary mt-4"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
</svg>Homepage</a>
 </div>
 </div>
